.item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 46%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f2f2f3;

    padding: 16px 0 5px 10px;

    margin-right: 16px;
    margin-bottom: 32px;
}

.itemIsDragging {
    opacity: 0%;
}

.name {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}

.button {
    border: none;
    background-color: transparent;
    color: #f2f2f3;
    cursor: pointer;
}
