.item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 46%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f2f2f3;

    padding: 16px 0 5px 10px;

    margin-right: 16px;
    margin-bottom: 32px;

    cursor: pointer;
}

.name {
    font-weight: 400;
    font-family: 'JetBrains Mono';
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 4px;
}
