.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #f2f2f3;
}

.someProblem {
    display: flex;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585ad;
}

.link {
    text-decoration: none;
    color: #4c4cff;
    margin-left: 8px;
}
