.wrapper {
    position: relative;
    width: 50%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.list {
    list-style: none;
    max-height: 45vh;
    overflow-y: auto;
}

.totalPrice {
    position: absolute;
    right: 50px;
    display: flex;
    width: 100%;
    margin-top: 40px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    font-family: 'Iceland';
    font-size: 48px;
}

.moneyLogo {
    display: flex;
    margin-left: 10px;
}

.buttonWrapper {
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 80px;
}

.plugText {
    transform: translateY(50%);
}

.plugWrapper {
    text-align: center;
}

.assemblingBurgerLi {
    margin: 10px 0;
    align-items: center;
    display: flex;
    cursor: grab;
}

.assemblingBurgerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
