.emptyItem,
.isFeed,
.isProfile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 46%;
    height: 235px;
    justify-content: center;
    text-align: center;
    color: #f2f2f3;

    padding: 16px 0 5px 10px;

    margin-right: 16px;
    margin-bottom: 32px;

    border-radius: 10%;
    border: #2f2f37 1px solid;
    background: #2f2f37;
}

.isFeed,
.isProfile {
    width: 640px;
    height: 235px;
    padding: 100px 0;
    border-radius: 42px;
}

.isProfile {
    width: 1020px;
    padding: 130px 0;
}
